.h3t {
  display: flex;
  position: absolute;
  width: 270px;
  height: 77px;
  top: 10px;
  left: 200px;
  top: 50px;
  font-family: 'Inter';
  font-weight: 600;
  text-align: center;
  margin-bottom: 0%;
}

.h4t {
  position: absolute;
  width: 170px;
  height: 35px;
  top: 100px;
  left: 470px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 0%;
  color: #000000;
}

.vector3 {
  top: 90px;
  left: 570px;
  position: absolute;
  margin-bottom: 0%;
}
.vector4 {
  top: 85px;
  left: 670px;
  position: absolute;
  margin-bottom: 0%;
}
.logo {
  position: relative;
  max-width: 450px;
  max-height: 90px;
  margin-bottom: 0%;
}
