.Emaillink {
  max-width: 1920px;
  max-height: 1080px;
}
.left-2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 1080px;
  max-width: 960px;
}

.right-2 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 960px;
  height: 1080px;
}

.Emaillink {
  top: 600px;
}

label {
  color: #cacaca;
  font-size: 18px;
}

.btn-fp {
  position: absolute;
  width: 550px;
  top: 600px;
  left: 200px;
}
.btn-c {
  position: absolute;
  top: 700px;
  left: 450px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 44px;

  color: #141212;
}
.text1 {
  position: absolute;
  top: 80px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}
